.parent {
  display: grid;
  grid-template-columns: 0.3fr 0.2fr 0.5fr 0.3fr;
  grid-template-rows: 0.4fr 1fr 0.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  }

.div1 { 
  grid-area: 1 / 1 / 2 / 6;
  width: 100%; 
  float: center;
}

.div2 { 
  grid-area: 2 / 1 / 4 / 3; 
  width: 40%;
  margin-top: -10%;
  float: left;
  margin-left: 22%;
}

.div3 { 
  grid-area: 2 / 3 / 4 / 5; 
  width: 60%;
  float: center;
  margin-top: -5%;
  margin-left: -10%;
  
}
